### Importing Libraries

In [31]:
import pandas as pd
import numpy as np
import chart_studio.plotly as py 
import cufflinks as cf
import seaborn as sns
import plotly.express as px
%matplotlib inline
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
cf.go_offline()
import plotly.graph_objs as go

### Reading in data with pandas function

In [32]:
coordinates = pd.read_csv('coordinates.csv')
misconduct = pd.read_csv('misconduct.csv')

In [33]:
del misconduct['Unnamed: 0']

misconduct.round()

       calendar_year              city state closed_date  amount_awarded
0               2019           Chicago    IL    01/29/19          160000
1               2018           Chicago    IL    10/02/18          100000
2               2019           Chicago    IL    05/30/19           70000
3               2010           Chicago    IL    09/24/10           60000
4               2010           Chicago    IL    03/18/10           99000
...              ...               ...   ...         ...             ...
39011           2019  North Charleston    SC    12/15/19           40000
39012           2019  North Charleston    SC    11/05/19           70000
39013           2019  North Charleston    SC    11/05/19           70000
39014           2019  North Charleston    SC    11/05/19          110000
39015           2019  North Charleston    SC    10/07/19               0

[39016 rows x 5 columns]

In [34]:
group_year = misconduct.groupby(['calendar_year','city'])['amount_awarded'].sum()

In [35]:
group_year

calendar_year  city
2005           Washington        63690
2006           Springfield       32500
2007           Springfield      218000
2008           Springfield       46500
2009           Philadelphia    7095797
                                ...
2020           Miami            664900
               Orlando          145000
               Paterson        1138057
               Richmond          25000
               Springfield      225000
Name: amount_awarded, Length: 263, dtype: int64

In [36]:
plot_frame = group_year.to_frame(name=None)   # Turning series into a data frame

In [37]:
plot_frame          # Retures a multi-index frame

                            amount_awarded
calendar_year city
2005          Washington             63690
2006          Springfield            32500
2007          Springfield           218000
2008          Springfield            46500
2009          Philadelphia         7095797
...                                    ...
2020          Miami                 664900
              Orlando               145000
              Paterson             1138057
              Richmond               25000
              Springfield           225000

[263 rows x 1 columns]

In [40]:
plot_frame.unstack(level=0)    #

                 amount_awarded                                         \
calendar_year              2005     2006      2007     2008       2009
city
Atlanta                     NaN      NaN       NaN      NaN        NaN
Baltimore                   NaN      NaN       NaN      NaN        NaN
Baton Rouge                 NaN      NaN       NaN      NaN        NaN
Boston                      NaN      NaN       NaN      NaN        NaN
Charleston                  NaN      NaN       NaN      NaN        NaN
Chicago                     NaN      NaN       NaN      NaN        NaN
Cincinnati                  NaN      NaN       NaN      NaN        NaN
Cleveland                   NaN      NaN       NaN      NaN        NaN
Columbia                    NaN      NaN       NaN      NaN        NaN
Detroit                     NaN      NaN       NaN      NaN        NaN
Fort Lauderdale             NaN      NaN       NaN      NaN        NaN
Indianapolis                NaN      NaN       NaN      NaN        NaN
Los Angeles                 NaN      NaN       NaN      NaN        NaN
Memphis                     NaN      NaN       NaN      NaN        NaN
Miami                       NaN      NaN       NaN      NaN        NaN
Milwaukee                   NaN      NaN       NaN      NaN        NaN
New Orleans                 NaN      NaN       NaN      NaN        NaN
New York City               NaN      NaN       NaN      NaN        NaN
North Charleston            NaN      NaN       NaN      NaN        NaN
Orlando                     NaN      NaN       NaN      NaN        NaN
Paterson                    NaN      NaN       NaN      NaN        NaN
Philadelphia                NaN      NaN       NaN      NaN  7095797.0
Richmond                    NaN      NaN       NaN      NaN        NaN
Roanoke                     NaN      NaN       NaN      NaN        NaN
San Francisco               NaN      NaN       NaN      NaN        NaN
Springfield                 NaN  32500.0  218000.0  46500.0        NaN
St. Louis                   NaN      NaN       NaN      NaN        NaN
Washington              63690.0      NaN       NaN      NaN    12000.0
Waterbury                   NaN      NaN       NaN      NaN        NaN

                                                                     \
calendar_year            2010         2011         2012        2013
city
Atlanta                   NaN          NaN          NaN         NaN
Baltimore                 NaN          NaN          NaN         NaN
Baton Rouge          438358.0     435101.0      75284.0    126463.0
Boston               161950.0      45500.0    1989000.0   3491139.0
Charleston             5500.0       4000.0      35500.0     84000.0
Chicago            24462224.0   22790139.0   60487575.0  92607079.0
Cincinnati            10900.0      32750.0     235000.0     65000.0
Cleveland            329500.0     350454.0     503829.0    589404.0
Columbia               4510.0          NaN      15000.0    116500.0
Detroit             7672357.0   13567137.0    4744272.0   3652086.0
Fort Lauderdale           NaN      49000.0     117675.0     88000.0
Indianapolis         585255.0    1029990.0    2123894.0    962427.0
Los Angeles        21684997.0   15636675.0   11664361.0   9144545.0
Memphis                   NaN          NaN          NaN   1176708.0
Miami                124500.0     632431.0     466750.0    285768.0
Milwaukee             75000.0      73250.0    2630000.0    100500.0
New Orleans          104500.0     175000.0     185125.0    109317.0
New York City     122401657.0  102170458.0  108879306.0  96336229.0
North Charleston          0.0      95000.0     164000.0     95000.0
Orlando                   NaN          NaN       6000.0      3000.0
Paterson                  NaN       2510.0      35837.0    330543.0
Philadelphia        7844576.0    9136525.0    8315640.0  13637313.0
Richmond                  NaN          NaN      45000.0         NaN
Roanoke               40000.0      92500.0          NaN         NaN
San Francisco        283850.0     189412.0     511250.0    541750.0
Springfield           79000.0      13900.0     605500.0     55500.0
St. Louis                 NaN          NaN          NaN         NaN
Washington          1450430.0   19599275.0    3718988.0   9907885.0
Waterbury                 NaN     340000.0          NaN    975250.0

                                                                      \
calendar_year            2014         2015         2016         2017
city
Atlanta              704749.0     302827.0    2182687.0     669876.0
Baltimore                 NaN    6439000.0     484545.0    1789600.0
Baton Rouge          581286.0     372434.0     467781.0     116798.0
Boston              5175000.0     359892.0     208000.0      70000.0
Charleston           606000.0      23000.0     108250.0     262500.0
Chicago            29669157.0   22509328.0   31296261.0   94623595.0
Cincinnati           636750.0     379500.0      25500.0     221938.0
Cleveland           2734400.0    3269500.0    5240498.0    7934438.0
Columbia              42500.0      54300.0     434000.0     325000.0
Detroit                   NaN    6955079.0    4475356.0    2809402.0
Fort Lauderdale      172500.0     746706.0     344000.0     252000.0
Indianapolis        1324600.0    1974049.0     572500.0     935368.0
Los Angeles        29451333.0   37260955.0   77619183.0   42919821.0
Memphis             1612639.0     594046.0     484883.0    1857883.0
Miami                113385.0     577550.0    1970512.0     381048.0
Milwaukee           1508000.0    7386000.0    5010500.0    7451071.0
New Orleans           13200.0     282500.0     925000.0    1091000.0
New York City     217729103.0  185111004.0  245809201.0  278151097.0
North Charleston      18000.0     353250.0     789500.0     724000.0
Orlando               95000.0     119878.0      67500.0     157999.0
Paterson              35828.0     228957.0     494878.0     978836.0
Philadelphia       10851297.0    7876159.0    7067350.0   12896800.0
Richmond               1000.0     100000.0          NaN          NaN
Roanoke                   NaN          NaN          NaN          NaN
San Francisco       6348494.0     672500.0      82500.0     304000.0
Springfield         1047000.0     358003.0      63750.0    1918186.0
St. Louis                 NaN          NaN      48890.0     352350.0
Washington          1529857.0    1901260.0   61500813.0    3246425.0
Waterbury            120000.0       6000.0          NaN     500000.0


calendar_year            2018         2019        2020
city
Atlanta              315887.0     440155.0    145000.0
Baltimore            393151.0    8320450.0   1006000.0
Baton Rouge          137695.0     128589.0         NaN
Boston               290000.0     115000.0         NaN
Charleston           205000.0     186500.0         NaN
Chicago            56950908.0   32190159.0         NaN
Cincinnati           212770.0     528677.0    124000.0
Cleveland           1330400.0    6046542.0    244498.0
Columbia              36625.0       2500.0         NaN
Detroit             2446290.0   11380998.0         NaN
Fort Lauderdale      121500.0     480000.0         NaN
Indianapolis         924927.0    2715264.0         NaN
Los Angeles        26335684.0   32116660.0  26091408.0
Memphis             1505047.0    1541645.0         NaN
Miami               1892198.0     175641.0    664900.0
Milwaukee           3590000.0   12193500.0         NaN
New Orleans               NaN          NaN         NaN
New York City     168402004.0  179130226.0         NaN
North Charleston     465000.0     630000.0         NaN
Orlando               95000.0      45000.0    145000.0
Paterson            1400601.0     704352.0   1138057.0
Philadelphia       19853206.0   12264802.0         NaN
Richmond              30000.0          NaN     25000.0
Roanoke                   NaN          NaN         NaN
San Francisco        682784.0   18256757.0         NaN
Springfield          991250.0   27192000.0    225000.0
St. Louis           2532000.0     184606.0         NaN
Washington         11203284.0     695500.0         NaN
Waterbury            220000.0      66000.0         NaN

In [41]:
plot_frame.index

MultiIndex([(2005,   'Washington'),
            (2006,  'Springfield'),
            (2007,  'Springfield'),
            (2008,  'Springfield'),
            (2009, 'Philadelphia'),
            (2009,   'Washington'),
            (2010,  'Baton Rouge'),
            (2010,       'Boston'),
            (2010,   'Charleston'),
            (2010,      'Chicago'),
            ...
            (2020,      'Atlanta'),
            (2020,    'Baltimore'),
            (2020,   'Cincinnati'),
            (2020,    'Cleveland'),
            (2020,  'Los Angeles'),
            (2020,        'Miami'),
            (2020,      'Orlando'),
            (2020,     'Paterson'),
            (2020,     'Richmond'),
            (2020,  'Springfield')],
           names=['calendar_year', 'city'], length=263)

In [43]:
coordinates

,Unnamed: 0,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,city_name,coordinates,Latitude,Longitude
0,0,8190209,8272948,8346693,8396091,8433806,8463049,8469153,8437478,8390081,8336817,"New York City, New York","New York, United States",40.712728,-74.006015
1,1,3795512,3820876,3851202,3881622,3909901,3938568,3963226,3975788,3977596,3979576,"Los Angeles, California","Los Angeles, Los Angeles County, California, U...",34.053691,-118.242766
2,2,2697477,2708114,2719141,2725731,2727066,2724344,2716723,2711069,2701423,2693976,"Chicago, Illinois","Chicago, Cook County, Illinois, United States",41.875562,-87.624421
3,3,1528283,1540466,1551824,1558313,1565460,1571065,1576051,1580601,1583592,1584064,"Philadelphia, Pennsylvania","Philadelphia, Philadelphia County, Pennsylvani...",39.952724,-75.163526
4,4,805505,815650,828876,839572,850750,863010,871512,878040,880696,881549,"San Francisco, California","San Francisco, San Francisco City and County, ...",37.779026,-122.419906
5,5,821579,827664,835499,844696,850164,853714,859049,863478,870960,876384,"Indianapolis, Indiana","Indianapolis, Marion, Indiana, United States",39.768333,-86.158350
6,6,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749,"Washington, District of Columbia","Washington, District of Columbia, United States",38.894992,-77.036558
7,7,621048,630505,642955,653002,662855,670491,679848,687788,691147,692600,"Boston, Massachusetts","Boston, Suffolk County, Massachusetts, United ...",42.360253,-71.058291
8,8,711131,705118,700183,691868,682609,679410,677143,674631,672977,670031,"Detroit, Michigan","Detroit, Wayne County, Michigan, United States",42.331551,-83.046640
9,9,652326,655341,658786,657146,654990,654106,652548,650878,651104,651073,"Memphis, Tennessee","Memphis, Shelby County, Tennessee, United States",35.149022,-90.051629
10,10,594865,597086,598569,599916,600664,600477,596996,593725,591375,590157,"Milwaukee, Wisconsin","Milwaukee, Milwaukee County, Wisconsin, United...",43.034993,-87.922497
11,11,429410,437812,449016,453990,461154,468303,479174,491670,498183,506811,"Atlanta, Georgia","Atlanta, Fulton County, Georgia, United States",33.748992,-84.390264
12,12,347772,360735,369787,378637,383940,389742,391843,391493,391004,390144,"New Orleans, Louisiana","New Orleans, Orleans Parish, Louisiana, United...",29.949932,-90.070116
13,13,395926,392667,391550,391792,390871,389244,387662,385252,383214,381009,"Cleveland, Ohio","Cleveland, Cuyahoga County, Ohio, United States",41.505161,-81.693445
14,14,296980,296187,296900,297905,298626,299439,299748,301587,302277,303940,"Cincinnati, Ohio","Cincinnati, Hamilton County, Ohio, United States",39.101454,-84.512460
15,15,319336,319344,319416,318476,317399,316010,312633,308233,303419,300576,"St. Louis, Missouri","City of Saint Louis, Missouri, United States",38.626418,-90.199838
16,16,239326,243620,249935,255135,262469,270786,278512,281804,285903,287442,"Orlando, Florida","Orlando, Orange County, Florida, United States",28.542111,-81.379030
17,17,204302,206391,210794,213860,217044,220856,225369,227230,229221,230436,"Richmond, Virginia","Richmond, Virginia, United States",37.538509,-77.434280
18,18,229374,228643,228889,228346,227851,227202,226686,224414,222190,220236,"Baton Rouge, Louisiana","Baton Rouge, East Baton Rouge Parish, Louisian...",30.445960,-91.187380
19,19,193972,195292,196564,197143,197595,198178,198631,198314,197484,197312,"Little Rock, Arkansas","Little Rock, Pulaski County, Arkansas, United ...",34.746481,-92.289595
20,20,166126,169012,170909,172275,175153,177356,178837,179877,182101,182437,"Fort Lauderdale, Florida","Fort Lauderdale, Broward County, Florida, Unit...",26.122308,-80.143379
21,21,146391,145593,146111,146049,145911,145928,145773,146015,145594,145233,"Paterson, New Jersey","Paterson, Passaic County, New Jersey, United S...",40.916765,-74.171811
22,22,120700,123012,125223,127246,129434,132413,134453,135626,136111,137566,"Charleston, South Carolina","Charleston, Charleston County, South Carolina,...",32.787601,-79.940273
23,23,130774,131302,131761,131527,131781,133616,134129,134005,132770,131674,"Columbia, South Carolina","Columbia, Richland County, South Carolina, Uni...",34.000749,-81.034331
24,24,105008,105884,107886,112036,112993,113471,115685,116869,118151,118927,"Cambridge, Massachusetts","Cambridge, Middlesex County, Massachusetts, Un...",42.375100,-71.105616
25,25,97949,99898,101994,104050,106754,108597,109738,110820,113077,115382,"North Charleston, South Carolina","North Charleston, Charleston County, South Car...",32.913129,-80.062998
26,26,110350,110074,110019,109733,109524,108993,108453,108277,108123,107568,"Waterbury, Connecticut","Waterbury, New Haven County, Connecticut, Unit...",41.553809,-73.043836
27,27,153569,153773,153933,154056,154376,154582,154028,154207,154329,153606,"Springfield, Massachusetts","Springfield, Hampden County, Massachusetts, Un...",42.101876,-72.588673
28,28,96720,96782,98011,98849,99427,99669,99337,98986,99009,99143,"Roanoke, Virginia","Roanoke, Virginia, United States",37.270973,-79.941431
29,29,400779,406593,411149,415661,425110,434738,449149,456617,462819,467963,"Miami, Florida","Miami, Miami-Dade County, Florida, United States",25.774173,-80.193620

In [44]:
coordinates = coordinates[['coordinates','Latitude','Longitude']]

In [45]:
coordinates.sort_values('coordinates', inplace=True)

In [46]:
coordinates[['city', 'split']] = coordinates['coordinates'].str.split(',', expand=True, n=1)

In [47]:
coordinates.drop('split', axis=1, inplace=True)

In [48]:
coordinates.drop('coordinates',axis=1, inplace=True)

In [49]:
coordinates

     Latitude   Longitude                 city
11  33.748992  -84.390264              Atlanta
18  30.445960  -91.187380          Baton Rouge
7   42.360253  -71.058291               Boston
24  42.375100  -71.105616            Cambridge
22  32.787601  -79.940273           Charleston
2   41.875562  -87.624421              Chicago
14  39.101454  -84.512460           Cincinnati
15  38.626418  -90.199838  City of Saint Louis
13  41.505161  -81.693445            Cleveland
23  34.000749  -81.034331             Columbia
8   42.331551  -83.046640              Detroit
20  26.122308  -80.143379      Fort Lauderdale
5   39.768333  -86.158350         Indianapolis
19  34.746481  -92.289595          Little Rock
1   34.053691 -118.242766          Los Angeles
9   35.149022  -90.051629              Memphis
29  25.774173  -80.193620                Miami
10  43.034993  -87.922497            Milwaukee
12  29.949932  -90.070116          New Orleans
0   40.712728  -74.006015             New York
25  32.913129  -80.062998     North Charleston
16  28.542111  -81.379030              Orlando
21  40.916765  -74.171811             Paterson
3   39.952724  -75.163526         Philadelphia
17  37.538509  -77.434280             Richmond
28  37.270973  -79.941431              Roanoke
4   37.779026 -122.419906        San Francisco
27  42.101876  -72.588673          Springfield
6   38.894992  -77.036558           Washington
26  41.553809  -73.043836            Waterbury

In [50]:
grouped_single = misconduct.groupby(['city'], as_index=False)['amount_awarded'].sum().round()

In [51]:
left_merged = pd.merge(grouped_single, coordinates, 
                      how="left", on=['city'])

In [52]:
left_merged

                city  amount_awarded   Latitude   Longitude
0            Atlanta         4761181  33.748992  -84.390264
1          Baltimore        18432746        NaN         NaN
2        Baton Rouge         2879789  30.445960  -91.187380
3             Boston        11905481  42.360253  -71.058291
4         Charleston         1520250  32.787601  -79.940273
5            Chicago       467586425  41.875562  -87.624421
6         Cincinnati         2472785  39.101454  -84.512460
7          Cleveland        28573463  41.505161  -81.693445
8           Columbia         1030935  34.000749  -81.034331
9            Detroit        57702977  42.331551  -83.046640
10   Fort Lauderdale         2371381  26.122308  -80.143379
11      Indianapolis        13148274  39.768333  -86.158350
12       Los Angeles       329925622  34.053691 -118.242766
13           Memphis         8772851  35.149022  -90.051629
14             Miami         7284683  25.774173  -80.193620
15         Milwaukee        40017821  43.034993  -87.922497
16       New Orleans         2885642  29.949932  -90.070116
17     New York City      1704120285        NaN         NaN
18  North Charleston         3333750  32.913129  -80.062998
19           Orlando          734377  28.542111  -81.379030
20          Paterson         5350399  40.916765  -74.171811
21      Philadelphia       116839465  39.952724  -75.163526
22          Richmond          201000  37.538509  -77.434280
23           Roanoke          132500  37.270973  -79.941431
24     San Francisco        27873297  37.779026 -122.419906
25       Springfield        32846089  42.101876  -72.588673
26         St. Louis         3117846        NaN         NaN
27        Washington       114829407  38.894992  -77.036558
28         Waterbury         2227250  41.553809  -73.043836

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='Baltimore')
location = geolocator.geocode('Baltimore,Maryland')
print((location.latitude, location.longitude))

In [53]:
left_merged.at[1,'Latitude'] =   39.2908816
left_merged.at[1, 'Longitude'] = 76.610759

In [54]:
left_merged.at[17,'Latitude'] =   40.712728
left_merged.at[17,'Longitude'] = -74.006015

In [55]:
left_merged.at[26, 'Latitude']  = 38.626418
left_merged.at[26, 'Longitude'] = -90.199838

In [56]:
left_merged

                city  amount_awarded   Latitude   Longitude
0            Atlanta         4761181  33.748992  -84.390264
1          Baltimore        18432746  39.290882   76.610759
2        Baton Rouge         2879789  30.445960  -91.187380
3             Boston        11905481  42.360253  -71.058291
4         Charleston         1520250  32.787601  -79.940273
5            Chicago       467586425  41.875562  -87.624421
6         Cincinnati         2472785  39.101454  -84.512460
7          Cleveland        28573463  41.505161  -81.693445
8           Columbia         1030935  34.000749  -81.034331
9            Detroit        57702977  42.331551  -83.046640
10   Fort Lauderdale         2371381  26.122308  -80.143379
11      Indianapolis        13148274  39.768333  -86.158350
12       Los Angeles       329925622  34.053691 -118.242766
13           Memphis         8772851  35.149022  -90.051629
14             Miami         7284683  25.774173  -80.193620
15         Milwaukee        40017821  43.034993  -87.922497
16       New Orleans         2885642  29.949932  -90.070116
17     New York City      1704120285  40.712728  -74.006015
18  North Charleston         3333750  32.913129  -80.062998
19           Orlando          734377  28.542111  -81.379030
20          Paterson         5350399  40.916765  -74.171811
21      Philadelphia       116839465  39.952724  -75.163526
22          Richmond          201000  37.538509  -77.434280
23           Roanoke          132500  37.270973  -79.941431
24     San Francisco        27873297  37.779026 -122.419906
25       Springfield        32846089  42.101876  -72.588673
26         St. Louis         3117846  38.626418  -90.199838
27        Washington       114829407  38.894992  -77.036558
28         Waterbury         2227250  41.553809  -73.043836

In [58]:
fig = px.scatter_mapbox(left_merged,  lat= 'Latitude', lon= 'Longitude', hover_name= 'city', hover_data=['amount_awarded'],
                       color_discrete_sequence=['fuchsia'], zoom=3, height=300)
fig.update_layout(mapbox_style='open-street-map')
fig.update_layout(margin={'r':0,'t':0,'l':0,'b':0})
fig.show()

In [66]:
per_cap = pd.read_csv('per_cap.csv')
per_cap.drop(['Unnamed: 0','amount_awarded'], axis=1)

                city  Estimates Base   per capita
0            Atlanta          427059    11.148769
1          Baltimore          229423    80.343941
2        Baton Rouge          617792     4.661431
3             Boston          105148   113.225948
4         Charleston          120364    12.630438
5            Chicago         2695652   173.459506
6         Cincinnati          297025     8.325181
7          Cleveland          396665    72.034273
8           Columbia          130421     7.904670
9            Detroit          713898    80.828058
10   Fort Lauderdale          165754    14.306647
11      Indianapolis          820457    16.025550
12       Los Angeles          193538  1704.707200
13           Memphis         3793139     2.312830
14             Miami          651873    11.175005
15         Milwaukee          399481   100.174531
16       New Orleans          594498     4.853914
17     New York City          343828  4956.316783
18  North Charleston         8175031     0.407797
19           Orlando           97579     7.525994
20          Paterson          238836    22.402092
21      Philadelphia          146181   799.279489
22          Richmond         1526012     0.131716
23           Roanoke          204375     0.648318
24     San Francisco           96910   287.620452
25       Springfield          805184    40.793271
26         St. Louis          153132    20.360519
27        Washington          319289   359.641106
28         Waterbury          601767     3.701183

In [67]:
left_merged

                city  amount_awarded   Latitude   Longitude
0            Atlanta         4761181  33.748992  -84.390264
1          Baltimore        18432746  39.290882   76.610759
2        Baton Rouge         2879789  30.445960  -91.187380
3             Boston        11905481  42.360253  -71.058291
4         Charleston         1520250  32.787601  -79.940273
5            Chicago       467586425  41.875562  -87.624421
6         Cincinnati         2472785  39.101454  -84.512460
7          Cleveland        28573463  41.505161  -81.693445
8           Columbia         1030935  34.000749  -81.034331
9            Detroit        57702977  42.331551  -83.046640
10   Fort Lauderdale         2371381  26.122308  -80.143379
11      Indianapolis        13148274  39.768333  -86.158350
12       Los Angeles       329925622  34.053691 -118.242766
13           Memphis         8772851  35.149022  -90.051629
14             Miami         7284683  25.774173  -80.193620
15         Milwaukee        40017821  43.034993  -87.922497
16       New Orleans         2885642  29.949932  -90.070116
17     New York City      1704120285  40.712728  -74.006015
18  North Charleston         3333750  32.913129  -80.062998
19           Orlando          734377  28.542111  -81.379030
20          Paterson         5350399  40.916765  -74.171811
21      Philadelphia       116839465  39.952724  -75.163526
22          Richmond          201000  37.538509  -77.434280
23           Roanoke          132500  37.270973  -79.941431
24     San Francisco        27873297  37.779026 -122.419906
25       Springfield        32846089  42.101876  -72.588673
26         St. Louis         3117846  38.626418  -90.199838
27        Washington       114829407  38.894992  -77.036558
28         Waterbury         2227250  41.553809  -73.043836