## Importing pandas library

In [1]:
import pandas as pd

## Reading csv's , dropping columns, setting index, parsing NA values

In [2]:

nypd = pd.read_csv('new_york_edited copy.csv',
                   keep_date_col = ['closed_date','calendar_year'], index_col=['calendar_year'], na_filter=False)
nypd.drop(['claim_number', 'summary_allegations', 'incident_date', 'filed_date','plaintiff_attorney',
           'plaintiff_name','incident_year', 'filed_year','other_expenses', 'collection','total_incurred','court',
           'docket_number','matter_name','location','case_outcome',],
            axis=1, inplace=True)
dc = pd.read_csv('DC_edited copy.csv',
                 keep_date_col=['closed_date','calendar_year'],index_col=['calendar_year'], na_filter=False)
dc.drop(['matter_name','longer_description','filed_date','disposition_date','status', 'case_outcome',
         'docket_number', 'summary_allegations','filed_year','incident_date', 'incident_year', 'location',
         'other_expenses','collection', 'total_incurred','claim_number', 'court','plaintiff_name', 
         'plaintiff_attorney'],
          axis=1,inplace=True,)
detroit = pd.read_csv('detroit_edited copy.csv',
                keep_date_col=['closed_date','calendar_year'], index_col=['calendar_year'], na_filter=False)
detroit.drop(['incident_date','incident_year','filed_date','filed_year','other_expenses','collection', 
              'total_incurred','case_outcome','docket_number','claim_number','court','plaintiff_name',
              'plaintiff_attorney', 'matter_name', 'location','summary_allegations'],
             axis=1,inplace=True)
atl = pd.read_csv('atlanta_edited copy.csv',
                 index_col=['calendar_year'], na_filter=False)
atl.drop(['incident_date', 'plaintiff_name', 'claim_or_lawsuit','denied_date', 'incident_year','matter_name',
          'court', 'docket_number', 'filed_date', 'filed_year','location', 'other_expenses', 'collection', 
          'total_incurred','claim_number','summary_allegations','plaintiff_attorney', 'case_outcome', 
          'amount_demanded'],axis=1, inplace=True)
ftlauderdale = pd.read_csv('fort_lauderdale_edited copy.csv',
                          index_col=['calendar_year'], na_filter=False)
ftlauderdale.drop(['incident_date','filed_date', 'filed_year','docket_number', 'claim_number', 'court', 
                   'plaintiff_name','matter_name', 'plaintiff_attorney','incident_year','collection',
                   'case_outcome', 'location', 'summary_allegations','total_incurred','other_expenses'],axis=1,inplace=True)
richmond = pd.read_csv('richmond_edited copy.csv',
                      index_col=['calendar_year'], na_filter=False)
richmond.drop(['court', 'matter_name', 'docket_number', 'incident_date','summary_allegations','filed_date', 
               'filed_year','case_outcome', 'collection', 'plaintiff', 'plaintiff_attorney','case_number',
               'location','other_expenses','total_incurred','incident_year'],axis=1, inplace=True)
st_louis = pd.read_csv('stlouis_edited copy.csv',
                      index_col=['calendar_year'], na_filter=False)
st_louis.drop(['incident_date','incident_year','filed_date','filed_year','other_expenses','claim_number','collection',
               'total_incurred','case_outcome','docket_number','court','plaintiff_name','plaintiff_attorney',
               'matter_name','location','summary_allegations','defendant_attorney','voucher_date','plaintiff_lawfirm'],
              axis=1,inplace=True)
roanoke_va = pd.read_csv('roanoke_edited copy.csv',
                        index_col=['calendar_year'], na_filter=False)
roanoke_va.drop(['incident_date', 'incident_year','filed_date', 'filed_year','other_expenses', 'collection', 'total_incurred', 'case_outcome',
'docket_number', 'claim_number', 'court', 'plaintiff_name','plaintiff_attorney', 'matter_name', 'location', 
'summary_allegations','other_expenses', 'collection', 'total_incurred', 'case_outcome','docket_number', 'claim_number', 'court', 'plaintiff_name',
'plaintiff_attorney', 'matter_name', 'location'],
              axis=1, inplace=True)
waterbury_ct = pd.read_csv('waterbury_edited copy.csv',
                          index_col=['calendar_year'], na_filter=False)
waterbury_ct.drop(['plaintiff_name', 'defendant', 'case_outcome','summary_allegations','docket_number','filed_date','filed_year',
'matter_name','court','incident_date','location','incident_year','other_expenses','collection','total_incurred','claim_number'], 
                  axis=1,inplace=True)
springfield = pd.read_csv('springfield_edited copy.csv',
                         index_col=['calendar_year'], na_filter=False)
springfield.drop(['incident_date', 'incident_year',
'filed_date', 'filed_year','other_expenses', 'collection', 'total_incurred', 'case_outcome','docket_number', 
'claim_number', 'court', 'plaintiff_name','matter_name', 'plaintiff_attorney', 'location', 'summary_allegations'],
                 axis=1, inplace=True)
north_charleston = pd.read_csv('north_charleston_edited copy.csv',
                               index_col=['calendar_year'], na_filter=False)
north_charleston.drop(['incident_date','filed_date', 'filed_year','collection','incident_date','incident_year',
'case_outcome','docket_number','claim_number','court','plaintiff_name','plaintiff_attorney',
'matter_name','location','summary_allegations','defendant_name','defendant_attorney','total_incurred','other_expenses'],
                      axis=1,inplace=True)

## Combining csv's and assigning a variable using append funtion

In [3]:
combined_cities_d = nypd.append([dc,detroit,atl,ftlauderdale,richmond,
                                 st_louis,roanoke_va,waterbury_ct,springfield,north_charleston,])

In [4]:
combined_cities_d

                       closed_date  amount_awarded              city state
calendar_year
2010           2010-01-04 00:00:00          5000.0     New York City    NY
2010           2010-01-04 00:00:00         15000.0     New York City    NY
2010           2010-01-04 00:00:00         17500.0     New York City    NY
2010           2010-01-04 00:00:00         11000.0     New York City    NY
2010           2010-01-04 00:00:00         25000.0     New York City    NY
...                            ...             ...               ...   ...
2019                    2019-12-15         40000.0  North Charleston    SC
2019                    2019-11-05         70000.0  North Charleston    SC
2019                    2019-11-05         70000.0  North Charleston    SC
2019                    2019-11-05        110000.0  North Charleston    SC
2019                    2019-10-07             0.0  North Charleston    SC

[33818 rows x 4 columns]

## Converting new data frame to csv

In [5]:
combined_cities_d.to_csv('combined_cities_d')