## Importing libraries and csv's

In [5]:
import pandas as pd
bat = pd.read_csv('baton_rouge_edited.csv')
san = pd.read_csv('san_francisco_edited.csv')
pat = pd.read_csv('paterson_edited.csv')
mil = pd.read_csv('milwaukee_edited.csv')
mem = pd.read_csv('memphis_edited.csv')
ind = pd.read_csv('indianapolis_edited.csv')
cle = pd.read_csv('cleveland_edited.csv')
balt = pd.read_csv('baltimore_edited.csv')
no = pd.read_csv('new_orleans_edited.csv')
phila = pd.read_csv('philly_edited.csv')
nypd = pd.read_csv('new_york_edited.csv')
dc = pd.read_csv('DC_edited.csv')
detroit = pd.read_csv('detroit_edited.csv')
atl = pd.read_csv('atlanta_edited copy.csv')
ftlauderdale = pd.read_csv('fort_lauderdale_edited.csv')
richmond = pd.read_csv('richmond_edited.csv')
st_louis = pd.read_csv('stlouis_edited.csv')
roanoke_va = pd.read_csv('roanoke_edited.csv')
waterbury_ct = pd.read_csv('waterbury_edited.csv')
springfield = pd.read_csv('springfield_edited.csv')
north_charleston = pd.read_csv('north_charleston_edited.csv')
bos = pd.read_csv('boston_edited.csv')
cam = pd.read_csv('cambridge_edited.csv')
charl = pd.read_csv('charleston_edited.csv')
cin = pd.read_csv('cincinnati_edited.csv')
col = pd.read_csv('columbia_edited.csv')
lr = pd.read_csv('little_rock_edited.csv')
orl = pd.read_csv('orlando_edited.csv')
la = pd.read_csv('los_angeles_edited.csv')
chi = pd.read_csv('chicago_edited.csv')
mia = pd.read_csv('miami_edited.csv')

## using columns() to list columns

In [6]:
bat.columns   
san.columns
pat.columns
mil.columns
mem.columns
ind.columns
cle.columns
balt.columns
no.columns
phila.columns
nypd.columns
dc.columns
detroit.columns
atl.columns
ftlauderdale.columns
richmond.columns
st_louis.columns
roanoke_va.columns
waterbury_ct.columns
springfield.columns
north_charleston.columns
bos.columns
cam.columns
charl.columns
cin.columns
col.columns
lr.columns
orl.columns
la.columns
chi.columns
mia.columns

Index(['calendar_year', 'city', 'state', 'incident_date', 'incident_year',
       'filed_date', 'filed_year', 'closed_date', 'amount_awarded',
       'other_expenses', 'collection', 'total_incurred', 'case_outcome',
       'docket_number', 'claim_number', 'court', 'plaintiff_name',
       'plaintiff_attorney', 'matter_name', 'location', 'summary_allegations',
       'status', 'opened_date'],
      dtype='object')

## Droping columns and modifying csv's

In [8]:
bat.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
cle.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
ind.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name', 'year', 'incident_year' , 'incident_date'], inplace = True)
mem.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
mil.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'status', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
pat.drop(columns = ['claim_number', 'defendant', 'lawsuit_status', 'defendant_attorney',
       'trial_date', 'plaintiff_attorney', 'plaintiff_name', 'incident_date',
       'date_received', 'filed_date', 'claim_status',
       'location', 'total_reimbursed', 'claim_or_lawsuit',
       'summary_allegations',  'incident_year', 'matter_name', 'docket_number', 'filed_year', 'court',
       'case_outcome', 'other_expenses', 'collection', 'total_incurred', 'total_paid', 'total_reserve'], inplace = True)
san.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
balt.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location','incident_year' , 'incident_date'], inplace = True)
no.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
phila.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
nypd.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
dc.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
detroit.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
atl.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
ftlauderdale.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
richmond.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
st_louis.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
roanoke_va.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
waterbury_ct.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
springfield.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
north_charleston.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
bos.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
cam.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
charl.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
cin.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
col.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
lr.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
orl.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
la.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
chi.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
mia.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)

KeyError: "['matter_name' 'court' 'docket_number' 'plaintiff_attorney' 'filed_date'\n 'summary_allegations' 'case_outcome' 'filed_year' 'other_expenses'\n 'collection' 'total_incurred' 'claim_number' 'location' 'plaintiff_name'\n 'incident_year' 'incident_date'] not found in axis"

## Creating a variable consisting of all cities

In [3]:
total = (bat),(san),(mem),(cle),(pat),(mil),(ind),(balt),(phila),(no),(nypd),(dc),(detroit),(atl),(ftlauderdale),(richmond),(st_louis),(roanoke_va),(waterbury_ct),(springfield),(north_charleston),(bos),(cam),(charl),(cin),(col),(lr),(orl),(la),(chi),(mia)

## Concatenating data frames

In [4]:
raw_compleat_cities = pd.concat(total)

In [5]:
raw_compleat_cities

     calendar_year          city state closed_date  amount_awarded
0           2019.0   Baton Rouge    LA  2019-07-08        45640.50
1           2019.0   Baton Rouge    LA  2019-08-14        30445.62
2           2019.0   Baton Rouge    LA  2019-02-27        52504.00
3           2018.0   Baton Rouge    LA  2018-12-11        20000.00
4           2018.0   Baton Rouge    LA  2018-07-16       107795.30
..             ...           ...   ...         ...             ...
232         2010.0  Indianapolis    IN  2010-09-24         7500.00
233         2010.0  Indianapolis    IN  2010-11-17         6500.00
234         2010.0  Indianapolis    IN  2010-11-17        18000.00
235         2010.0  Indianapolis    IN  2010-12-07         1000.00
236         2010.0  Indianapolis    IN  2010-12-16        70000.00

[875 rows x 5 columns]

## Converting data frame to csv

In [6]:
raw_compleat_cities.to_csv('raw_compleat_cities.csv', index = False)